.background{
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.main{
  width: 100vh;
  height: 80vh;
  
  display: flex;
  flex-direction: column;

  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 100%;
}
.light {
  display: flex;
  height: 100px;
  flex-direction: row;

  align-items: center;
}
.sunAndMoon{
  width: 20px;
  height: 20px;

  margin-bottom: 0;
  margin-left: 20px;
}
.search{
  display: flex;
  flex-direction: row;

  align-items: center;

  height: 70px;
  width: 100%;

  border-radius: 10px;
}
.searchIcon{
  width: 30px;
  height: 50px;

  margin-left: 20px;
}
.inputSearch{
  border: 0;

  height:50px;
  width: 70%;
  
  margin-left: 20px;
}
.inputSearch:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}
.buttonSearch{
  background-color: rgb(25, 25, 201);
  color: white;

  height: 40px;
  width: 100px;

  border: 0;
  border-radius: 10px;
}
.container{
  margin-top: 20px;

  height: 70vh;
  width: 100%;

  border-radius: 10px;
}
@media (max-width: 800px) {
  .main{
    width: 80vh;
    height: 80vh;
  }
  .inputSearch{
    width: 65%;
  }
}
@media (max-width: 600px) {
  .main{
    width: 50vh;
    height: 90vh;

  }
  .searchIcon{
    width: 25px;
    height: 40px;
  
    margin-left: 15px;

    transform: translateY(-3%);
  }
  .inputSearch{
    width: 55%;

    margin-left: 10px;
  }
  .buttonSearch{
    width: 80px;
  }
  .container{
    height: 60vh;
  }
}